<nav class="navbar navbar-expand-md fixed-top custom-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html">
			<img src="images/cc-logo.png" alt="Camilla Clark" class="logo">
			<span class="sr-only">Home</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="material-symbols-outlined">menu</span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto align-items-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" id="projectsDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Projects
					</a>
					<ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="projectsDropdown">
						<li><a class="dropdown-item" href="iu-mobile.html">IU Mobile Bus Tracking</a></li>
						<li><a class="dropdown-item" href="cloud9.html">Cloud9</a></li>
						<li><a class="dropdown-item" href="frux.html">Financial Reporting UX</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-float" href="about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-float"
						href="pdf/Clark_Camilla_Resume.pdf"
						download="Clark_Camilla_Resume.pdf"
						type="application/pdf">
						Resume
						<i class="bi bi-download ms-1" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

